.featureHeading {
  color: var(--color-text-primary);
  text-align: left;
  margin-bottom: 32px;

  @media (min-width: $sm) {
    margin-bottom: 48px;
  }

  @media (min-width: $lg) {
    text-align: center;
  }
}

.featureList {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: $sm) {
    gap: 32px;
  }

  @media (min-width: $lg) {
    flex-direction: row;
  }

  & h2{
  color: var(--color-text-primary);  
  margin-bottom: 12px;
  }
}

.icoWrapper {
  width: 60px;
  height: 60px;
  border: 1px solid #e9ede8;
  border-radius: 12px;
  margin-bottom: 20px;
  background-color: var(--color-background-primary);
  box-shadow: var(--shadow-ico);

  display: flex;
  align-items: center;
  justify-content: center;

   @media (min-width: $sm) {
    margin-bottom: 24px;
  }
}
