.recipesList {
  --grid-max-col-count: 3;
  --grid-gap: 32px;

  --grid-col-size-calc: calc(
    (100% - var(--grid-gap) * var(--grid-max-col-count)) / var(--grid-max-col-count)
  );
  --grid-col-min-size-calc: 288px;

  @media (min-width: $sm) {
    --grid-col-min-size-calc: calc(768px / 2 - var(--grid-gap));
  }

  display: grid;
  gap: 32px;
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--grid-col-min-size-calc), var(--grid-col-size-calc)), 1fr)
  );

  & li:first-child:not(:has(+ li)) {
    width: fit-content;
    max-width: calc(100vw / 2);
    place-self: center;

    @media (min-width: $lg) {
      max-width: calc(100vw / 3);
    }
  }
}

.viewRecipeBtn {
  padding: 12px 32px;
  border-radius: 999px;
}
