.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.header[data-menu="false"] + * nav {
  height: 0;
  display: none;
  opacity: 0;
  transition:
    height 250ms ease-in-out,
    opacity 250ms ease-in-out,
    display 250ms allow-discrete;

  @media (max-width: 639.9px) {
    @starting-style {
      height: auto;
      opacity: 1;
    }
  }
}

.header[data-menu="true"] + * nav {
  display: grid;
  height: auto;
  opacity: 1;
  transition:
    height 250ms ease-in-out,
    opacity 250ms ease-in-out,
    display 249ms allow-discrete;

  @media (min-width: 640px) {
    display: none;
  }

  @starting-style {
    height: 0;
    opacity: 0;
  }
}

.rightBlock {
  display: flex;
}

.avatar {
  border-radius: 10px;
}

.header[data-menu="true"] .menuButton {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--bg-btn-menu);
  stroke: var(--txt-btn-menu);
}

.menuButton {
  display: flex;
  align-items: center;
  stroke: var(--txt-main);
  margin-right: 16px;

  @media (min-width: 640px) {
    display: none;
  }
}
